<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="http://gmpg.org/xfn/11" />

        <title>$station.location $niculskinLabels.title</title>

        <!-- Open Graph -->
        <meta property="og:site_name" content="$station.location $niculskinLabels.title" />
        <meta property="og:description" content="$niculskinLabels.title in $station.location - weather web site powered by weewx" />
        <meta property="og:type" content="website" />

        <!-- Icons -->
        <link rel="icon" href="favicon.ico" type="image/png">
        <link rel="apple-touch-icon" href="touch-icon.png"/>

        <!-- Styles -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="css/main.css" rel="stylesheet">

        <!-- Skripte -->
        <script src="js/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <header>
            <div class="container-fix" >
                <div class="h-left" >
                <h1><i class="fa fa-cloud" ></i> $station.location</h1>
                <p>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2] | $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2] | $station.altitude | <a href="https://www.openstreetmap.org/?mlat=$station.latitude_f&mlon=$station.longitude_f#map=16/$station.latitude_f/$station.longitude_f" target="_blank" ><i class="fa fa-map-marker" ></i> $niculskinLabels.location_ref_label</a></p>


                <h2>$niculskinLabels.headings.history</h2>
                <p><i class="fa fa-clock-o" ></i> $niculskinLabels.headings.last_update $current.dateTime</p>
                </div>

                <div class="h-right" >
                    <table>
                        <tr><td><b>Station:</b></td><td>$station.hardware</td></tr>
                        <tr><td><b>Software:</b></td><td><a href="http://weewx.com/" target="_blank" >weewx v$station.version</a></td></tr>
                        <tr><td><b>$niculskinLabels.status.station_uptime</b></td><td>$station.uptime</td></tr>
                        <tr><td><b>$niculskinLabels.status.server_uptime</b></td><td>$station.os_uptime</td></tr>
                    </table>
                </div>

                <nav>
                    <ul>
                        <li><a href="index.html">$niculskinLabels.headings.front_page</a></li>
                        <li><a href="week.html">$niculskinLabels.timespans.week</a></li>
                        <li><a href="month.html">$niculskinLabels.timespans.month</a></li>
                        <li><a href="year.html">$niculskinLabels.timespans.year</a></li>
                        <li class="active"><a href="history.html">$niculskinLabels.headings.history</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="main" >
        <div class="container" >
            <div class="col-md-8 main" >
             <h3>$niculskinLabels.history_tables.min_temp</h3>
                $min_temp_table

             <h3>$niculskinLabels.history_tables.avg_temp</h3>
                $avg_temp_table

             <h3>$niculskinLabels.history_tables.max_temp</h3>
                $max_temp_table

             <h3>$niculskinLabels.history_tables.rain</h3>
                $rain_table

             <h3>$niculskinLabels.history_tables.rain_days</h3>
                $rain_days_table

              <h3>$niculskinLabels.history_tables.NOAA</h3>
                $NOAA_table
            </div>
        </div>
        </div>

        <footer>
            <div class="container-fix" >
            $niculskinLabels.footer | <a href='https://gitlab.com/ngulden/niculskin' target='_blank'>Source at GitLab</a>
            </div>
        </footer>
    </body>
</html>
