<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="http://gmpg.org/xfn/11" />
        
        <title>$station.location - $niculskinLabels.title</title>
        
        <!-- Open Graph -->
        <meta property="og:site_name" content="$station.location $niculskinLabels.title" />
        <meta property="og:description" content="$niculskinLabels.title in $station.location - weather web site powered by weewx" />
        <meta property="og:type" content="website" />

        <!-- Icons -->
        <link rel="icon" href="favicon.ico" type="image/png">
        <link rel="apple-touch-icon" href="touch-icon.png"/>
        
        <!-- Styles -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="css/main.css" rel="stylesheet">
        
        <!-- Skripte -->
        <script src="js/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <header>
            <div class="container-fix" >
                <div class="h-left" >
                <h1><i class="fa fa-cloud" ></i> $station.location</h1>
                <p>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2] | $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2] | $station.altitude | <a href="https://www.openstreetmap.org/?mlat=$station.latitude_f&mlon=$station.longitude_f#map=16/$station.latitude_f/$station.longitude_f" target="_blank" ><i class="fa fa-map-marker" ></i> $niculskinLabels.location_ref_label</a></p>


                <h2>$niculskinLabels.headings.front_page - $niculskinLabels.timespans.today</h2>
                <p><i class="fa fa-clock-o" ></i> $niculskinLabels.headings.last_update $current.dateTime</p>
                </div>
                
                <div class="h-right" >
                    <table>
                        <tr><td><b>Station:</b></td><td>$station.hardware</td></tr>
                        <tr><td><b>Software:</b></td><td><a href="http://weewx.com/" target="_blank" >weewx v$station.version</a></td></tr>
                        <tr><td><b>$niculskinLabels.status.station_uptime</b></td><td>$station.uptime</td></tr>
                        <tr><td><b>$niculskinLabels.status.server_uptime</b></td><td>$station.os_uptime</td></tr>
                    </table>
                </div>

                <nav>
                    <ul>
                        <li class="active" ><a href="index.html" >$niculskinLabels.headings.front_page</a></li>
                        <li><a href="week.html">$niculskinLabels.timespans.week</a></li>
                        <li><a href="month.html">$niculskinLabels.timespans.month</a></li>
                        <li><a href="year.html">$niculskinLabels.timespans.year</a></li>
                        <li><a href="history.html">$niculskinLabels.headings.history</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <div class="main" >
        <div class="container" >
            
            <div class="left" >
                
                <div class="card" >
                    <h1><i class="fa fa-sun-o m-orange" ></i> $niculskinLabels.headings.current_conditions</h1>
                    <table class="tablespacer">
                        <tr><td>$niculskinLabels.conditions.out_temp</td><td>$current.outTemp</td></tr>
                        <tr><td>$niculskinLabels.conditions.windchill</td><td>$current.windchill</td></tr>
                        <tr><td>$niculskinLabels.conditions.heatindex</td><td>$current.heatindex</td></tr>
                        <tr><td>$niculskinLabels.conditions.dewpoint</td><td>$current.dewpoint</td></tr>
                        <tr><td>$niculskinLabels.conditions.out_humidity</td><td>$current.outHumidity</td></tr>
                        <tr><td>$niculskinLabels.conditions.barometer</td><td>$current.barometer</td></tr>
                        <tr><td>$niculskinLabels.conditions.barometer_trend ($trend.time_delta.hour.format("%.0f"))</td><td>$trend.barometer</td></tr>
                        <tr><td>$niculskinLabels.conditions.wind</td><td>$current.windSpeed $current.windDir.ordinal_compass ($current.windDir)</td></tr>
                        <tr><td>$niculskinLabels.conditions.rain_rate</td><td>$current.rainRate</td></tr>
                        <tr><td>$niculskinLabels.conditions.in_temp_humidity</td><td>$current.inTemp | $current.inHumidity</td></tr>
                        <tr><td>$niculskinLabels.conditions.extra1_temp_humidity</td><td>$current.extraTemp1 | $current.extraHumid1</td></tr>
                        <tr><td>$niculskinLabels.conditions.extra2_temp_humidity</td><td>$current.extraTemp2 | $current.extraHumid2</td></tr>
                    </table>
                </div>

                <div class="card" >
                    <h1><i class="fa fa-moon-o m-grau" ></i> $niculskinLabels.headings.since_midnight</h1>
                    <table class="tablespacer">
                        <tr><td><h3>$niculskinLabels.headings.outside_conditions</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$day.outTemp.max</td><td>$day.outTemp.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$day.outTemp.min</td><td>$day.outTemp.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.heatindex</td><td>$day.heatindex.max</td><td>$day.heatindex.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.windchill</td><td>$day.windchill.min</td><td>$day.windchill.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.dewpoint_max</td><td>$day.dewpoint.max</td><td>$day.dewpoint.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.dewpoint_min</td><td>$day.dewpoint.min</td><td>$day.dewpoint.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$day.outHumidity.max</td><td>$day.outHumidity.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$day.outHumidity.min</td><td>$day.outHumidity.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.barometer_max</td><td>$day.barometer.max</td><td>$day.barometer.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.barometer_min</td><td>$day.barometer.min</td><td>$day.barometer.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.rain_sum</td><td>$day.rain.sum</td><td></td></tr>
                        <tr><td>$niculskinLabels.conditions.rain_rate_max</td><td>$day.rainRate.max</td><td>$day.rainRate.maxtime</td></tr>
                        <tr><td><h3>$niculskinLabels.headings.wind</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.wind_max</td><td>$day.wind.max $day.wind.gustdir</td><td>$day.wind.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.wind_avg</td><td>$day.wind.avg</td><td></td></tr>
                        <tr><td>$niculskinLabels.conditions.wind_rms</td><td>$day.wind.rms</td><td></td></tr>
                        <tr><td>$niculskinLabels.conditions.wind_vec</td><td>$day.wind.vecavg</td><td>$day.wind.vecdir</td></tr>
                        <tr><td><h3>$niculskinLabels.headings.inside</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$day.inTemp.max</td><td>$day.inTemp.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$day.inTemp.min</td><td>$day.inTemp.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$day.inHumidity.max</td><td>$day.inHumidity.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$day.inHumidity.min</td><td>$day.inHumidity.mintime</td></tr>
                        #if $day.extraTemp1.has_data
                        <tr><td><h3>$niculskinLabels.headings.extra1</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$day.extraTemp1.max</td><td>$day.extraTemp1.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$day.extraTemp1.min</td><td>$day.extraTemp1.mintime</td></tr>
                        #end if
                        #if $day.extraHumid1.has_data
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$day.extraHumid1.max</td><td>$day.extraHumid1.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$day.extraHumid1.min</td><td>$day.extraHumid1.mintime</td></tr>
                        #end if
                        #if $day.extraTemp2.has_data
                        <tr><td><h3>$niculskinLabels.headings.extra2</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$day.extraTemp2.max</td><td>$day.extraTemp2.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$day.extraTemp2.min</td><td>$day.extraTemp2.mintime</td></tr>
                        #end if
                        #if $day.extraHumid2.has_data
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$day.extraHumid2.max</td><td>$day.extraHumid2.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$day.extraHumid2.min</td><td>$day.extraHumid2.mintime</td></tr>
                        #end if
                    </table>
                </div>
                
                #if $Extras.has_key('radar_img')
                <div class="card" >                    
                    #if $Extras.has_key('radar_url')
                    <a href="$Extras.radar_url" target="_blank">
                    #end if
                    <img src="$Extras.radar_img" alt="Radar" id="radar" class="space small" />
                    #if $Extras.has_key('radar_url')
                    </a>
                    #end if
                    
                    <h3>
                        #if $Extras.has_key('radar_gif')
                        
                        <a id="btn1" class="cpointer" >Animation 3h / 24h</a>
                        <script>    
                            function changeRadar() {
                                if(document.getElementById("radar").src == "$Extras.radar_img") {
                                    document.getElementById("radar").src = "$Extras.radar_gif";
                                } else {
                                    document.getElementById("radar").src = "$Extras.radar_img";
                                }
                            }
                            
                            var el = document.getElementById('btn1');
                            el.onclick = changeRadar;
                        </script>
                        #end if
                    
                        #if $Extras.has_key('radar_url_alt')
                        #if $Extras.has_key('radar_url_alt_text')
                        | <a href="$Extras.radar_url_alt" target="_blank" >$Extras.radar_url_alt_text</a>
                        #else 
                        | <a href="$Extras.radar_url_alt" target="_blank" >Second Radar</a>
                        #end if
                        #end if
                    </h3>
                    
                </div>
                #end if
                
                #if $Extras.has_key('lightning_map')
                <div class="card" >
                    #if $Extras.has_key('lightning_url')
                    <a href="$Extras.lightning_url" target="_blank">
                    #end if
                    <img src="$Extras.lightning_map" alt="Lightning Map" class="space small" />
                    #if $Extras.has_key('lightning_url')
                    </a>
                    #end if
                </div>
                #end if

            </div>
            
            <div class="right" >

                <div class="card cc graphs" >
                    <h1><i class="fa fa-line-chart m-gruen" ></i> Graphen</h1>

                    <img src="daytempdew.png" alt="temperatures" />
                    <img src="daytempchill.png" alt="heatchill" />
                    <img src="dayrain.png" alt="rain" />
                    <img src="daybarometer.png" alt="barometer"/>
                    <img src="dayhumidity.png" alt="humidity" />
                    <img src="daywind.png" alt="wind" />
                    <img src="daywinddir.png" alt="Hi Wind" />
                    <img src="daywindvec.png" alt="Wind Vector" />
                    <img src="dayinside.png" alt="Inside" />
                    <img src="dayinsidehumid.png" alt="Inside Humidity" />
                    #if $day.radiation.has_data
                    <img src="dayradiation.png" alt="Radiation" />
                    #end if
                    #if $day.UV.has_data
                    <img src="dayuv.png" alt="UV Index" />
                    #end if
                    #if $day.rxCheckPercent.has_data
                    <img src="dayrx.png" alt="day rx percent"/>
                    #end if
                </div>

                <div class="card" >
                    <h1><i class="fa fa-star-o m-rot" ></i> Almanach</h1>
                    #if $almanac.hasExtras
                    ## Extended almanac information is available. Do the full set of tables.
                    #set $sun_altitude = $almanac.sun.alt
                    #if $sun_altitude < 0
                    #set $sun_None="<i>(Always down)</i>"
                    #else
                    #set $sun_None="<i>(Always up)</i>"
                    #end if
                    <div class="haelfte" >
                        <h3>Sonne</h3>
                        <table>
                            <tr><td>$niculskinLabels.headings.civil_twilight_start:</td><td>$almanac(horizon=-6).sun(use_center=1).rise</td></tr>
                            <tr><td>$niculskinLabels.headings.sunrise:</td><td>$almanac.sun.rise.string($sun_None)</td></tr>
                            <tr><td>$niculskinLabels.headings.transit:</td><td>$almanac.sun.transit</td></tr>
                            <tr><td>$niculskinLabels.headings.sunset:</td><td>$almanac.sun.set.string($sun_None)</td></tr>
                            <tr><td>$niculskinLabels.headings.civil_twilight_end:</td><td>$almanac(horizon=-6).sun(use_center=1).set</td></tr>
                            <tr><td>$niculskinLabels.headings.azimuth:</td><td>$("%.1f&deg;" % $almanac.sun.az)</td></tr>
                            <tr><td>$niculskinLabels.headings.altitude:</td><td>$("%.1f&deg;" % $sun_altitude)</td></tr>
                            <tr><td>$niculskinLabels.headings.right_ascension:</td><td>$("%.1f&deg;" % $almanac.sun.ra)</td></tr>
                            <tr><td>$niculskinLabels.headings.declination:</td><td>$("%.1f&deg;" % $almanac.sun.dec)</td></tr>
                            #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
                            ## The equinox is before the solstice. Display them in order.
                            <tr><td>$niculskinLabels.headings.equinox:</td><td>$almanac.next_equinox</td></tr>
                            <tr><td>$niculskinLabels.headings.solstice:</td><td>$almanac.next_solstice</td></tr>
                            #else
                            ## The solstice is before the equinox. Display them in order.
                            <tr><td>$niculskinLabels.headings.solstice:</td><td>$almanac.next_solstice</td></tr>
                            <tr><td>$niculskinLabels.headings.equinox:</td><td>$almanac.next_equinox</td></tr>
                            #end if
                        </table>
                    </div>
                    <div class="haelfte" >
                        <h3>Mond</h3>
                        <table>
                            <tr><td>$niculskinLabels.headings.rise:</td><td>$almanac.moon.rise</td></tr>
                            <tr><td>$niculskinLabels.headings.transit:</td><td>$almanac.moon.transit</td></tr>
                            <tr><td>$niculskinLabels.headings.set:</td><td>$almanac.moon.set</td></tr>
                            <tr><td>$niculskinLabels.headings.azimuth:</td><td>$("%.1f&deg;" % $almanac.moon.az)</td></tr>
                            <tr><td>$niculskinLabels.headings.altitude:</td><td>$("%.1f&deg;" % $almanac.moon.alt)</td></tr>
                            <tr><td>$niculskinLabels.headings.right_ascension:</td><td>$("%.1f&deg;" % $almanac.moon.ra)</td></tr>
                            <tr><td>$niculskinLabels.headings.declination:</td><td>$("%.1f&deg;" % $almanac.moon.dec)</td></tr>
                            #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
                            <tr><td>$niculskinLabels.headings.full_moon:</td><td>$almanac.next_full_moon</td></tr>
                            <tr><td>$niculskinLabels.headings.new_moon:</td><td>$almanac.next_new_moon</td></tr>
                            #else
                            <tr><td>$niculskinLabels.headings.new_moon:</td><td>$almanac.next_new_moon</td></tr>
                            <tr><td>$niculskinLabels.headings.full_moon:</td><td>$almanac.next_full_moon</td></tr>
                            #end if
                            <tr><td>$niculskinLabels.headings.moon_phase:</td><td>$almanac.moon_phase<br />($almanac.moon_fullness% full)</td></tr>
                        </table>
                    </div>
                    #else
                    ## No extended almanac information available. Fall back to a simple table.
                    <table>
                        <tr><td>$niculskinLabels.headings.sunrise:</td><td>$almanac.sunrise</td></tr>
                        <tr><td>$niculskinLabels.headings.sunset:</td><td>$almanac.sunset</td></tr>
                        <tr><td>$niculskinLabels.headings.moon_phase:</td><td>$almanac.moon_phase<br/>($almanac.moon_fullness% full)</td></tr>
                    </table>
                    #end if
                </div>
            </div>
        </div>
        </div>
        
        <footer>
            <div class="container-fix" >
            $niculskinLabels.footer | <a href='https://gitlab.com/ngulden/niculskin' target='_blank'>Source at GitLab</a>
            </div>
        </footer>
    </body>
</html>
