/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * Sass Guide: http://sass-lang.com/guide
 */
/* ==========================================================================
   Includes
   ========================================================================== */
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Variables
   by Sven Reifschneider
   ========================================================================== */
/*
 * Colors
 */
/*
 * Font
 */
/* ==========================================================================
   Mixins
   by Sven Reifschneider

   Usage:
   @include mixin-name(wert);
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Website Style
   ========================================================================== */
/* ==========================================================================
   Don't Repeat Yourself
   Elemente, die immer wieder auftauchen
   by Sven Reifschneider
   ========================================================================== */
a, a:hover, a:active, a:visited {
  text-decoration: none; }

/* ==========================================================================
   Website Style
   by Sven Reifschneider
   ========================================================================== */
body {
  background: #f3f3f3; }

body {
  text-align: center;
  width: 100%; }

header {
  background: #05c2d8;
  width: 100%;
  color: #fff;
  font-weight: 300;
  padding: 1em 0 0 0; }
  header a {
    color: #d5f2f5;
    transition: all 0.2s; }
  header a:hover {
    color: #f4feff; }
  header h1 {
    margin: 0.2em 0; }
  header h2 {
    margin: 0.1em 0;
    padding: 0; }
  header p {
    margin: 0.5em 0;
    padding: 0;
    font-size: 1.2em; }
  header .h-left {
    display: inline-block;
    width: 48%;
    text-align: left; }
  header .h-right {
    display: inline-block;
    width: 48%;
    text-align: right; }
    header .h-right table {
      float: right;
      border: none; }
      header .h-right table td {
        padding: 0.1em 0.4em; }
  header nav {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 1.4em;
    font-weight: 400;
    margin: 0.2em 0 0 0; }
    header nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    header nav li {
      display: inline-block;
      padding: 0.3em 0;
      margin: 0 0.4em; }
    header nav a {
      display: block; }
    header nav select {
      display: block;
      font-size: 0.8em;
      font-weight: 300;
      border: none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      background: #05c2d8;
      color: #fff; }
    header nav a {
      color: #d5f2f5;
      transition: all 0.2s; }
    header nav a:hover {
      color: #f4feff; }
    header nav li.active {
      border-bottom: 3px solid #fff533; }
      header nav li.active a {
        color: #fff; }

.container {
  display: inline-block;
  padding-left: 0;
  padding-right: 0; }
  .container .left {
    display: inline-block;
    width: 590px;
    vertical-align: top;
    margin-right: 1.5em; }
  .container .right {
    display: inline-block;
    width: 860px; }

.container-fix {
  display: inline-block;
  text-align: left;
  width: 980px; }

.card {
  background: #fff;
  padding: 0.2em 1.5em 1em 1.5em;
  margin: 2em 0;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  -webkit-box-shadow: 0px 0px 6px 0px #c9c9c9;
  -moz-box-shadow: 0px 0px 6px 0px #c9c9c9;
  box-shadow: 0px 0px 6px 0px #c9c9c9; }
  .card img {
    max-width: 98%; }
  .card h1 {
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    font-weight: normal;
    color: #515151;
    padding: 0;
    border-bottom: 1px solid #ebebeb; }
  .card h3 {
    margin: 0.4em 0;
    padding: 0;
    color: #515151; }
  .card table {
    border: none;
    width: 100%; }
    .card table td {
      margin: 0.2em;
      padding: 0.2em 0; }
  .card a {
    color: #6cc99f;
    transition: all 0.2s; }
  .card a:hover {
    color: #a4e5c8; }

.cc {
  text-align: center; }

.haelfte {
  width: 48%;
  display: inline-block; }

footer {
  width: 100%;
  background: #05c2d8;
  color: #fff;
  padding: 1.5em 0; }
  footer a {
    color: #fff533;
    transition: all 0.2s; }
  footer a:hover {
    color: #fffcc2; }

footer div.container div.right {
    text-align: right;
}

img.space {
  margin-top: 1.3em; }

.graphs img {
  margin: 0.4em 0;
  max-width: 800px; }

img.small {
  max-width: 550px; }

.cpointer {
  cursor: pointer; }

table.tablespacer td {
  padding: 0.3em 0; }
table.tablespacer tr:not(:last-child) {
  border-bottom: 1px solid #ebebeb; }

.m-grau {
  color: #8a8a8a; }

.m-orange {
  color: #f7cd35; }

.m-gruen {
  color: #6cc99f; }

.m-rot {
  color: #e6766b; }

.m-blau {
  color: #0ea5e6; }

@media (min-width: 1550px) {
  .container {
    width: 1500px; }
}

@media (max-width: 1549px) and (min-width: 1210px) {
  .container {
    width: 1200px !important; }
    .container .left {
      width: 450px !important;
      margin-right: 0.8em !important; }
    .container .right {
      width: 700px !important; }

  .graphs img {
    margin: 0.3em 0 !important;
    max-width: 100% !important; }

  img.small {
    max-width: 100% !important; } }
@media (max-width: 1209px) and (min-width: 1010px) {
  .container {
    width: 920px !important; }
    .container .left {
      width: 290px !important;
      margin-right: 0.8em !important; }
    .container .right {
      width: 580px !important; }

  .graphs img {
    margin: 0.3em 0 !important;
    max-width: 100% !important; }

  img.small {
    max-width: 100% !important; } }
@media (max-width: 1009px) {
  .container {
    width: 100% !important; }
    .container .left {
      width: 100% !important;
      margin: 0 !important; }
    .container .right {
      width: 100% !important; }

  .container-fix {
    width: 100%; }

  .graphs img {
    margin: 0.2em 0 !important;
    max-width: 100% !important; }

  img.small {
    max-width: 100% !important; }

  .haelfte {
    width: 100% !important; }

  .card {
    margin: 1em 0; }

  header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5em; }
    header .h-left {
      display: inline-block;
      width: 100%; }
    header .h-right {
      display: none !important; }
    header nav {
      display: inline-block;
      width: 100%;
      font-size: 1.2em;
      margin: 0.5em 0 0 0; }
      header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
      header nav li {
        display: block;
        padding: 0.1em 0;
        margin: 0; }
      header nav li.active {
        border-bottom: 3px solid #fff533; }
        header nav li.active a {
          color: #fff; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
