<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="http://gmpg.org/xfn/11" />
        
        <title>$station.location - $niculskinLabels.timespans.month</title>
        
        <!-- Open Graph -->
        <meta property="og:site_name" content="$station.location $niculskinLabels.timespans.month" />
        <meta property="og:description" content="$niculskinLabels.timespans.month in $station.location - weather web site powered by weewx" />
        <meta property="og:type" content="website" />

        <!-- Icons -->
        <link rel="icon" href="favicon.ico" type="image/png">
        <link rel="apple-touch-icon" href="touch-icon.png"/>
        
        <!-- Styles -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="container-fix" >
                <div class="h-left" >
                <h1><i class="fa fa-cloud" ></i> $station.location</h1>
                <p>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2] | $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2] | $station.altitude | <a href="https://www.openstreetmap.org/?mlat=$station.latitude_f&mlon=$station.longitude_f#map=16/$station.latitude_f/$station.longitude_f" target="_blank" ><i class="fa fa-map-marker" ></i> $niculskinLabels.location_ref_label</a></p>

                <h2>$niculskinLabels.timespans.month</h2>
                <p><i class="fa fa-clock-o" ></i> $niculskinLabels.headings.last_update $current.dateTime</p>
                </div>
                
                <div class="h-right" >
                    <table>
                        <tr><td><b>Station:</b></td><td>$station.hardware</td></tr>
                        <tr><td><b>Software:</b></td><td><a href="http://weewx.com/" target="_blank" >weewx v$station.version</a></td></tr>
                        <tr><td><b>$niculskinLabels.status.station_uptime</b></td><td>$station.uptime</td></tr>
                        <tr><td><b>$niculskinLabels.status.server_uptime</b></td><td>$station.os_uptime</td></tr>
                    </table>
                </div>

                <nav>
                    <ul>
                        <li><a href="index.html" >$niculskinLabels.headings.front_page</a></li>
                        <li><a href="week.html">$niculskinLabels.timespans.week</a></li>
                        <li class="active" ><a href="month.html">$niculskinLabels.timespans.month</a></li>
                        <li><a href="year.html">$niculskinLabels.timespans.year</a></li>
                        <li><a href="history.html">$niculskinLabels.headings.history</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <div class="main" >
        <div class="container" >
            
            <div class="left" >
                
                <div class="card" >
                    <h1><i class="fa fa-calendar m-orange" ></i> $niculskinLabels.headings.this_month</h1>
                    <table class="tablespacer">
                        <tr><td><h3>$niculskinLabels.headings.outside_conditions</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$month.outTemp.max</td><td>$month.outTemp.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$month.outTemp.min</td><td>$month.outTemp.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.heatindex</td><td>$month.heatindex.max</td><td>$month.heatindex.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.windchill</td><td>$month.windchill.min</td><td>$month.windchill.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.dewpoint_max</td><td>$month.dewpoint.max</td><td>$month.dewpoint.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.dewpoint_min</td><td>$month.dewpoint.min</td><td>$month.dewpoint.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$month.outHumidity.max</td><td>$month.outHumidity.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$month.outHumidity.min</td><td>$month.outHumidity.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.barometer_max</td><td>$month.barometer.max</td><td>$month.barometer.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.barometer_min</td><td>$month.barometer.min</td><td>$month.barometer.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.rain_sum</td><td>$month.rain.sum</td><td></td></tr>
                        <tr><td>$niculskinLabels.conditions.rain_rate_max</td><td>$month.rainRate.max</td><td>$month.rainRate.maxtime</td></tr>
                        <tr><td><h3>$niculskinLabels.headings.wind</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.wind_max</td><td>$month.wind.max $month.wind.gustdir</td><td>$month.wind.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.wind_avg</td><td>$month.wind.avg</td><td></td></tr>
                        <tr><td>$niculskinLabels.conditions.wind_rms</td><td>$month.wind.rms</td><td></td></tr>
                        <tr><td>$niculskinLabels.conditions.wind_vec</td><td>$month.wind.vecavg</td><td>$month.wind.vecdir</td></tr>
                        <tr><td><h3>$niculskinLabels.headings.inside</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$month.inTemp.max</td><td>$month.inTemp.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$month.inTemp.min</td><td>$month.inTemp.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$month.inHumidity.max</td><td>$month.inTemp.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$month.inHumidity.min</td><td>$month.inTemp.mintime</td></tr>
                        #if $month.extraTemp1.has_data
                        <tr><td><h3>$niculskinLabels.headings.extra1</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$month.extraTemp1.max</td><td>$month.extraTemp1.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$month.extraTemp1.min</td><td>$month.extraTemp1.mintime</td></tr>
                        #end if
                        #if $month.extraHumid1.has_data
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$month.extraHumid1.max</td><td>$month.extraHumid1.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$month.extraHumid1.min</td><td>$month.extraHumid1.mintime</td></tr>
                        #end if
                        #if $month.extraTemp2.has_data
                        <tr><td><h3>$niculskinLabels.headings.extra2</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$month.extraTemp2.max</td><td>$month.extraTemp2.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$month.extraTemp2.min</td><td>$month.extraTemp2.mintime</td></tr>
                        #end if
                        #if $month.extraHumid2.has_data
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$month.extraHumid2.max</td><td>$month.extraHumid2.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$month.extraHumid2.min</td><td>$month.extraHumid2.mintime</td></tr>
                        #end if
                        #if $month.UV.has_data
                        <tr><td>High UV</td><td>$month.UV.max</td><td>$month.UV.maxtime</td></tr>
                        <tr><td>Low UV</td><td>$month.UV.min</td><td>$month.UV.mintime</td></tr>
                        #end if
                        #if $month.ET.has_data and $month.ET.sum.raw >0.0
                        <tr><td>High ET</td><td>$month.ET.max</td><td>$month.ET.maxtime</td></tr>
                        <tr><td>Low ET</td><td>$month.ET.min</td><td>$month.ET.mintime</td></tr>
                        #end if
                        #if $month.radiation.has_data
                        <tr><td>High Radiation</td><td>$month.radiation.max</td><td>$month.radiation.maxtime</td></tr>
                        <tr><td>Low Radiation</td><td>$month.radiation.min</td><td>$month.radiation.mintime</td></tr>
                        #end if
                    </table>
                </div>

                <div class="card" >
                    <h1><i class="fa fa-calendar-o m-rot" ></i> $niculskinLabels.headings.calendar_year</h1>
                    <table class="tablespacer">
                        <tr><td><h3>$niculskinLabels.headings.outside_conditions</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$year.outTemp.max</td><td>$year.outTemp.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$year.outTemp.min</td><td>$year.outTemp.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.heatindex</td><td>$year.heatindex.max</td><td>$year.heatindex.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.windchill</td><td>$year.windchill.min</td><td>$year.windchill.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.dewpoint_max</td><td>$year.dewpoint.max</td><td>$year.dewpoint.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.dewpoint_min</td><td>$year.dewpoint.min</td><td>$year.dewpoint.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$year.outHumidity.max</td><td>$year.outHumidity.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$year.outHumidity.min</td><td>$year.outHumidity.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.barometer_max</td><td>$year.barometer.max</td><td>$year.barometer.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.barometer_min</td><td>$year.barometer.min</td><td>$year.barometer.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.rain_sum</td><td>$year.rain.sum</td><td></td></tr>
                        <tr><td>$niculskinLabels.conditions.rain_rate_max</td><td>$year.rainRate.max</td><td>$year.rainRate.maxtime</td></tr>
                        <tr><td><h3>$niculskinLabels.headings.wind</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.wind_max</td><td>$year.wind.max $year.wind.gustdir</td><td>$year.wind.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.wind_avg</td><td>$year.wind.avg</td><td></td></tr>
                        <tr><td>$niculskinLabels.conditions.wind_rms</td><td>$year.wind.rms</td><td></td></tr>
                        <tr><td>$niculskinLabels.conditions.wind_vec</td><td>$year.wind.vecavg</td><td>$year.wind.vecdir</td></tr>
                        <tr><td><h3>$niculskinLabels.headings.inside</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$year.inTemp.max</td><td>$year.inTemp.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$year.inTemp.min</td><td>$year.inTemp.mintime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$year.inHumidity.max</td><td>$year.inTemp.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$year.inHumidity.min</td><td>$year.inTemp.mintime</td></tr>
                        #if $year.extraTemp1.has_data
                        <tr><td><h3>$niculskinLabels.headings.extra1</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$year.extraTemp1.max</td><td>$year.extraTemp1.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$year.extraTemp1.min</td><td>$year.extraTemp1.mintime</td></tr>
                        #end if
                        #if $year.extraHumid1.has_data
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$year.extraHumid1.max</td><td>$year.extraHumid1.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$year.extraHumid1.min</td><td>$year.extraHumid1.mintime</td></tr>
                        #end if
                        #if $year.extraTemp2.has_data
                        <tr><td><h3>$niculskinLabels.headings.extra2</h3></td><td></td>
                        <tr><td>$niculskinLabels.conditions.temp_max</td><td>$year.extraTemp2.max</td><td>$year.extraTemp2.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.temp_min</td><td>$year.extraTemp2.min</td><td>$year.extraTemp2.mintime</td></tr>
                        #end if
                        #if $year.extraHumid2.has_data
                        <tr><td>$niculskinLabels.conditions.humidity_max</td><td>$year.extraHumid2.max</td><td>$year.extraHumid2.maxtime</td></tr>
                        <tr><td>$niculskinLabels.conditions.humidity_min</td><td>$year.extraHumid2.min</td><td>$year.extraHumid2.mintime</td></tr>
                        #end if
                        #if $year.UV.has_data
                        <tr><td>High UV</td><td>$year.UV.max</td><td>$year.UV.maxtime</td></tr>
                        <tr><td>Low UV</td><td>$year.UV.min</td><td>$year.UV.mintime</td></tr>
                        #end if
                        #if $year.ET.has_data and $year.ET.sum.raw >0.0
                        <tr><td>High ET</td><td>$year.ET.max</td><td>$year.ET.maxtime</td></tr>
                        <tr><td>Low ET</td><td>$year.ET.min</td><td>$year.ET.mintime</td></tr>
                        #end if
                        #if $year.radiation.has_data
                        <tr><td>High Radiation</td><td>$year.radiation.max</td><td>$year.radiation.maxtime</td></tr>
                        <tr><td>Low Radiation</td><td>$year.radiation.min</td><td>$year.radiation.mintime</td></tr>
                        #end if
                    </table>
                </div>

            </div>
            
            <div class="right" >

                <div class="card cc graphs" >
                    <h1><i class="fa fa-line-chart m-gruen" ></i> Monatliche Statistiken und Graphen</h1>
                    
                    <img src="monthtempdew.png" alt="temperatures" />
                    <img src="monthtempchill.png" alt="heatchill" />
                    <img src="monthhilow.png" alt="Display highs and lows for the month" title="Daily highs and lows for the month" />
                    <img src="monthrain.png" alt="rain" />
                    <img src="monthbarometer.png" alt="barometer"/>
                    <img src="monthhumidity.png" alt="humidity" />
                    <img src="monthwind.png" alt="wind" />
                    <img src="monthwinddir.png" alt="Hi Wind" />
                    <img src="monthwindvec.png" alt="Wind Vector" />
                    <img src="monthinside.png" alt="Inside" />
                    <img src="monthinsidehumid.png" alt="Inside Humidity" />
                    #if $month.UV.has_data
                    <img src="monthuv.png" alt="UV Index" />
                    #end if
                    #if $month.radiation.has_data
                    <img src="monthradiation.png" alt="Radiation" />
                    #end if
                    #if $month.UV.has_data
                    <img src="monthuv.png" alt="UV Index" />
                    #end if
                    #if $month.rxCheckPercent.has_data
                    <img src="monthrx.png" alt="month rx percent"/>
                    #end if
                </div>
                
            </div>
        </div>
        </div>
        
        <footer>
            <div class="container-fix" >
            $niculskinLabels.footer
            </div>
        </footer>
    </body>
</html>
